<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>teamID</key>
	<string>KH9MTRSDAZ</string>
	<key>method</key>
	<string>enterprise</string>
	<key>signingStyle</key>
	<string>automatic</string>
	<key>rebuildFromBitcode</key>
	<true/>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>uploadBitcode</key>
	<false/>
	<key>uploadSymbols</key>
	<false/>
	<key>provisioningProfiles</key>
	<dict>
		<key>ca.bc.gov.pathfinder.mobile.SecureImage</key>
		<string>b7ba91a2-ee80-4828-9a9b-12cad290790a</string>
	</dict>
</dict>
</plist>
