<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="shortcut icon" href="/img/favicon.png" type="/x-icon">
    <title> Secure Image App </title>
  </head>
  <body>
    <div class="mainsection">
      <img id="camera" src="/img/cameraicon.png" alt="Secure Camera with BC Gov logo">
      <div id="text">
        <h1> Welcome to Secure Image App </h1>
        <p> If your download does not start automatically, please tap the link down below. </p>
        {{download_url}}
        <button type="button"> Download </button>
      </div>
    </div>
    <footer>
        <p id="bio"> Secure Image App is </p>
        <p id="copyright"> &copy; Copyright 2018 BC Government </p>
      </footer>
  </body>
</html>
