<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
<dict>
  <key>host</key>
  <string>https://rhmap.pathfinder.gov.bc.ca</string>
  <key>appid</key>
  <string>ac6zvxuiwvzco7233tel7gfq</string>
  <key>projectid</key>
  <string>ac6zvxwx2gcaywq3oqvbo5q5</string>
  <key>appkey</key>
  <string>8fedccb51accde2f944e303998af7cf3987db99a</string>
  <key>connectiontag</key>
  <string>0.0.1</string>
</dict>
</plist>